@charset "UTF-8";
/* CSS Document */

h1,
h2{
	text-align:center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

h1{
	font-weight: 700;
	font-size:30px;
	letter-spacing: 3px;
}

h2{
	font-weight: 400;
	font-size:12px;
}

body{
	background-color: goldenrod;
}

.content{
	margin: 15rem;
	/*border: 4px solid #fff;
	border-radius: 5px;*/
}

.icon-content{
	text-align: center;
	margin-top: 2rem;
}

.icon-umbrella,
.icon-wheel,
.icon-boat{
	color: #fff;
	font-size: 36px;
}