@charset "UTF-8";
/* CSS Document */

h1,
h2{
	text-align:center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
}

h1{
	font-weight: 700;
	font-size:30px;
	letter-spacing: 5px;
}

h2{
	font-weight: 400;
	font-size:12px;
	letter-spacing: 2px;
}

body{
	background-color: goldenrod;
}

.content{
	margin: 15rem;
}

.icon-content{
	text-align: center;
	margin-top: 1.5rem;
}

.icon-umbrella,
.icon-wheel,
.icon-boat,
.icon-kite{
	color: #fff;
	font-size: 36px;
}

.icon-umbrella:hover,
.icon-wheel:hover,
.icon-boat:hover,
.icon-kite:hover{
	color: #957200;
	transition: 0.9s;
	transform: rotateY(180deg);
}